#domain-template
  %form.form-horizontal
    .btn-group(style="float: right;")
      %button.btn.save(type="submit") Save
      %button.btn-danger(type="submit") Delete
    %ul.nav.nav-tabs
      %li.active
        %a(href="#domain-id" data-toggle="tab") Id
      %li
        %a(href="#domain-members" data-toggle="tab") Members
      %li
        %a(href="#domain-areas" data-toggle="tab") Areas

    .tab-content
      .tab-pane.active#domain-id
        .control-group
          %label.control-label Name:
          .controls
            %input.input-block-level(name="name" type="text" value="{{ data.name }}")/
        .control-group
          %label.control-label Brief Description:
          .controls
            %input.input-block-level(name="description" type="text" value="{{ data.description }}")/
        .control-group
          %label.control-label Plan:
          .controls
            %textarea.input-block-level(name="plan" rows="5") {{ data.plan }}
      .tab-pane#domain-members
      .tab-pane#domain-areas
