#login-template
  %h1 Login
  %form.form-horizontal
    %fieldset
      .control-group
        %label.control-label Email:
        .controls
          %input(name="email" type="text")/
      .control-group
        %label.control-label Password:
        .controls
          %input(name="password" type="password")/
    .control-group
      .controls
        %button.btn.login(type="submit") Login
