#thing-detail-template
// noun
// adjective
// plural noun
// plural adjective

// proximities allowed (w.r.t. this detail by other objects)

// domain:area:ward:item for object instanced when this detail is removed
// detail_flags - worn-items-hide-details?, targetable? 
// damage (how much damage allows this detail to be removed?)
// descriptions: (maps arbitrary string key to value)
// wear types: (arbitrary controlled vocabulary)
// hold types: (arbitrary controlled vocabulary)
// sub-details
